.product{
    display: flex;
    margin-left: 20px;
}
.product-detail{
    margin-left: 20px;
}
.product-detail h4{
color: blue;
}
.add-btn{
    width: 200px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    background: goldenrod;
}
